

.game-card {
    margin: 1rem 0;
    transition: transform 0.2s; /* Animation au survol */
  }
  
  .game-card:hover {
    transform: scale(1.05); 
  }
  
  .game-card .btn {
    border: none; 
    margin-top: 1rem;
  }
